@import "fonts";
@import "_null";
@import "fontIcons";
@import "_functionsSnipets";

$font-size: rem(14);
$font-family: "Quicksand";
$font-weight: 500;


body {
	height: 100%;
	font-family: $font-family;
	background-color: #FAFAFA;
	font-size: $font-size;
}

//======================lock==================================================
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.-container {
	max-width: rem(1440);
	margin: 0 auto;
}

//------------------page-----------------------------
.page {
	// max-width: 1440px;
	width: 100%;
	flex: 1 1 auto;
	margin: 0 auto;
	overflow: hidden;
	animation: header-right 3s;
}

.page.active {
	animation: page-active 3s;
	opacity: 0;
}

@keyframes page-active {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

//------------------header-----------------------------
#largeLi {
	min-width: 100px;
}

.header {
	width: 100%;
	display: flex;
	padding: 0px rem(100);
	align-items: center;
	position: fixed;
	justify-content: space-between;
	z-index: 50;
	background-color: #fff;

	@media (max-width:em(1025)) {
		padding: 0px rem(20);
	}

	@media (max-width:em(426)) {
		padding: 0;
	}

	&__left {
		flex: 1 1 auto;
		display: flex;

		@media (max-width:em(426)) {
			flex: 0 0 10%;
		}
	}

	&__right {
		flex: 1 1 40%;

		@media (max-width:em(426)) {
			flex: 1 1 auto;
		}
	}

	&__burger {
		width: 100%;
		height: 100vh;
		background-color: #D2E1FF;
		position: absolute;
		top: 0;
		left: -100vw;
		transition: left 2s ease;
		z-index: 999;

		@media (max-width:em(426)) {}
	}

	&__colum {
		width: 80px;
		height: 60px;
		position: absolute;
		left: 55%;
		top: 0;
		margin: 20px;
		transition: 2s ease;

		& span {
			content: '';
			width: 40px;
			height: 7px;
			border: 2px solid #5E81FE;
			background-color: #5E81FE;
			position: absolute;
			top: 20px;
			left: 0;
			transition: 2s;
			animation-duration: 3s;
			animation-direction: normal;


			&:first-child {
				left: 15%;
				width: 55px;
				background-color: #cbf806;
			}

			&:nth-child(2) {
				left: 25%;
			}

			&:last-child {
				left: 50%;

			}
		}

		@media (max-width:em(426)) {
			visibility: visible;
			opacity: 1;
		}

		@media (max-width:em(326)) {
			left: 45%;
		}
	}
}


.header {

	&__colum {

		& span.active {
			animation-name: colum;
			transform: rotate(90deg);

			&:first-child.active {
				animation-name: colum-yellow;
				transform: rotate(90deg);
				margin-top: 5px;
			}

			&:nth-child(2).active {
				animation-name: colum-horizontal;
				top: 37px;
				transform: rotate(0deg);
			}
		}
	}
}

.left-header {
	display: flex;
	align-items: center;

	&__logo {
		flex: 0 0 rem(26);
		width: rem(26);
		height: rem(26);
		border-radius: 50%;
		background: #5E81FE;
		margin: 0px rem(5);

		@media (max-width:em(426)) {
			height: rem(5);
			border-radius: 0;

			&::before {
				content: '';
				position: absolute;
				top: rem(9);
				width: rem(26);
				height: rem(5);
				background: #5E81FE;
				z-index: -1;
			}

			&::after {
				content: '';
				position: absolute;
				top: rem(30);
				width: rem(26);
				height: rem(5);
				background: #5E81FE;
				z-index: -1;
			}
		}

		@media (max-width:em(326)) {
			height: rem(5);
			border-radius: 0;
			margin-top: rem(32);

			&::before {
				content: '';
				position: absolute;
				top: rem(52);
				width: rem(26);
				height: rem(5);
				background: #5E81FE;
				z-index: -1;
			}

			&::after {
				content: '';
				position: absolute;
				top: rem(40);
				width: rem(26);
				height: rem(5);
				background: #5E81FE;
				z-index: -1;
			}
		}
	}

	&__nav {
		flex: 1 1 auto;

		@media (max-width:em(426)) {
			z-index: 2;
		}

		& ul {
			display: flex;
			justify-content: end;
			width: 100%;
			gap: rem(42);
			padding: rem(32) rem(5);

			@media (max-width:em(1025)) {
				gap: rem(24);
			}

			@media (max-width:em(769)) {
				gap: rem(12);
			}

			@media (max-width:em(426)) {
				display: none;
				margin-left: em(-30);
			}

			@media (min-width:em(769)) {
				& li {
					min-width: rem(60);

					& a {
						&:hover {
							font-weight: 700;
						}
					}
				}
			}

			& li {
				& a {}
			}
		}
	}
}

.right-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: rem(44);

	@media (max-width:em(769)) {
		gap: rem(24);
	}

	@media (max-width:em(426)) {
		animation: header-right 3s;
		opacity: 1;
	}

	@media (max-width:em(326)) {
		flex-direction: column;
	}

	&__icons {
		display: flex;
		gap: rem(35);

		@media (max-width:em(426)) {
			gap: rem(20);
		}

		@media (max-width:em(326)) {
			padding-top: rem(10);
			gap: rem(50);
		}

		& :hover {
			color: #5E81FE;
		}

		& a {

			@media (max-width:em(426)) {
				font-size: rem(20);
			}

			@include adaptive-value("font-size", 13, 6, 2);

		}
	}

	&__button {

		& button {
			min-width: 113px;
			height: 43px;
			background-color: #D2E1FF;

			& a {
				background-color: #D2E1FF;
				padding: rem(13) rem(20);
				color: #697CA6;

				&:hover {
					color: #5E81FE;
					font-weight: 700;
				}

				@include adaptive-value("font-size", 13, 6, 2);
			}

			@media (max-width:em(326)) {
				width: 100%;
				padding-right: rem(40);
			}
		}

		@media (max-width:em(326)) {
			width: 100%;
			background-color: #0D5C63;
		}
	}
}

._icon-fb1,
._icon-tg1,
._icon-twitter1,
._icon-M1 {
	color: #697CA6;
	font-weight: 700;
	font-size: rem(13);
	line-height: rem(16);
	text-align: center;
}

.nav {
	& li {
		& a {
			font-size: rem(12);
			line-height: rem(15);
			letter-spacing: 0.05rem;
			font-weight: $font-weight;
			text-transform: capitalize;
			color: #697CA6;
			text-shadow: 0px 0px 5px #E6E6E6;

			@media (max-width:em(426)) {
				font-size: rem(22);
				display: inline-block;
				margin-bottom: 30px;
			}

			@include adaptive-value("font-size", 13, 6, 2);

			&:hover {
				color: #5E81FE;
			}
		}
	}
}

@keyframes header-right-active {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes header-right {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes colum {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes colum-yellow {
	0% {
		transform: rotate(0deg);
		left: 0;
		margin-top: 0px;
	}

	50% {
		transform: rotate(0deg);
		left: 0;
		margin-top: 0px;
	}

	100% {
		transform: rotate(90deg);
		left: 15%;
		background-color: #cbf806;
		margin-top: 5px;
	}
}

@keyframes colum-horizontal {
	0% {
		top: 20px;
	}

	50% {
		top: 20px;
	}

	100% {
		top: 37px;
		transform: rotate(0deg);
	}
}

.right-header.active {
	display: flex;
	align-items: center;
	justify-content: end;
	animation: header-right-active 3s;
	opacity: 0;
}

.burger__nav {
	position: absolute;
	left: -100vw;
	padding: rem(100) rem(20) rem(0) rem(0);
	transition: left 3s ease 0.2s;
}

.burger__nav.active {
	left: 50vw;

	@media (max-width:em(326)) {
		left: 40vw;
	}
}

.left-header.active,
.left-header__nav.active,
.left-header__logo.active {
	visibility: hidden;
	opacity: 0;
}

.header__burger.active,
.header__colum.active,
#nav.active {
	visibility: visible;
	opacity: 1;
}

.header__colum.active {
	z-index: 5;
}

.header__burger.active {
	left: -40vw;

	@media (max-width:em(326)) {
		left: -30vw;
	}
}

//--------------------inscrease---------------------------
.inscrease {
	width: 100%;
	flex: 1 1 auto;
	background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
	padding-top: rem(160);
	animation: inscrease 3s;
	opacity: 1;
	position: relative;

	@media (max-width:768px) {
		padding-top: rem(120);
	}

	@media (max-width:426px) {
		padding-top: rem(80);
	}

	@media (max-width:320px) {
		padding-top: rem(120);
	}

	&__text {
		width: 80%;
		margin: 0 auto;

		@media (min-width:1440px) {
			width: 45%;
		}
	}


	&__bg {
		position: relative;
		width: 100%;
		height: rem(500);
		margin-top: rem(-200);

		@media (min-width:em(1600)) {
			margin-top: rem(-100);
		}

		@media (max-width:768px) {
			margin-top: rem(-300);
		}
	}
}


.text-inscreas {

	&__top {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #3D4F9F;
		text-align: center;
		@include adaptive-value("font-size", 10, 3, 2);

	}

	&__center {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 300;
		font-size: rem(48);
		line-height: rem(60);
		text-align: center;
		color: #3D4F9F;
		margin-bottom: rem(20);
		@include adaptive-value("font-size", 48, 40, 2);

		@media (max-width:320px) {
			font-size: rem(36);
			line-height: rem(40);
		}

		& span {
			font-weight: $font-weight;
		}
	}

	&__bottom {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(15);
		line-height: rem(29);
		text-align: center;
		letter-spacing: 0.03em;
		color: #8D96BD;
		width: 80%;
		margin: 0 auto;
		@include adaptive-value("font-size", 15, 8, 2);

		@media (max-width:320px) {
			font-size: rem(12);
			line-height: rem(20);
		}

	}
}

.bg {

	& svg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&__lable {
		position: absolute;
		opacity: 0;
		transition-delay: 9s;
		transition: 10s;

		@media (max-width:768px) {
			transition-delay: 2s;
			transition: 3s;
		}
	}
}

.lable-1 {
	top: 180px;
	left: 32.5px;
}

.lable-2 {
	top: 270px;
	left: 436px;
}

.lable-3 {
	top: 360px;
	left: 845px;
	transform: rotate(180deg);
}

.lable-4 {
	top: 300px;
	left: 1254px;
	transform: rotate(180deg);
}

.lable-5 {
	top: -60px;
	left: 2254px;
}

.lable-1.active,
.lable-2.active,
.lable-3.active,
.lable-4.active,
.lable-5.active {
	opacity: 1;
}

.circle {
	stroke: #5982E7;
	stroke-width: 2;
	fill: #fff;
	animation-fill-mode: forwards;
	display: none;
	z-index: 10;
}

.circle--1 {
	display: block;
}

.line {
	display: none;
}

.circle.active,
.line.active {
	display: block;
	color: antiquewhite;
}

@keyframes clouds {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0.2;
	}

	60% {
		opacity: 0.6;
	}

	60% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
	}
}

.clouds {
	position: absolute;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
	z-index: 1;
	animation: clouds 10s;
}

.cloud-1 {
	width: 75px;
	height: 76px;
	left: -37px;
	top: 256px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%), linear-gradient(90deg, #EEF3FF 50%, transparent 50%);
}

.cloud-2 {
	width: 45px;
	height: 23px;
	left: 253px;
	top: 172px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);

	@media (max-width:em(725)) {
		display: none;
	}
}

.cloud-3 {
	width: 31px;
	height: 16px;
	left: 1208px;
	top: 117px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-4 {
	width: 77px;
	height: 39px;
	left: 1224px;
	top: 133px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-5 {
	width: 45px;
	height: 23px;
	left: 1257px;
	top: 166px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-6 {
	width: 23px;
	height: 11px;
	left: 253px;
	top: 478px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-7 {
	width: 49px;
	height: 24px;
	left: 261px;
	top: 476px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-8 {
	width: 19px;
	height: 10px;
	left: 307px;
	top: 466px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-9 {
	width: 32px;
	height: 16px;
	left: 294px;
	top: 484px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-10 {
	width: 103px;
	height: 51px;
	left: 1085px;
	top: 557px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-11 {
	width: 68px;
	height: 34px;
	left: 1171px;
	top: 574px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-12 {
	width: 47px;
	height: 24px;
	left: 1158px;
	top: 545px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%);
}

.cloud-13 {
	width: 70px;
	height: 34px;
	right: -35px;
	top: 575px;
	background-image: linear-gradient(180deg, transparent 50%, #EEF3FF 50%), linear-gradient(270deg, #EEF3FF 50%, transparent 50%);

	@media (max-width:768px) {
		display: none;
	}
}

@media (max-width:768px) {
	.lable-1 {
		top: 250px;
		left: 32.5px;
		z-index: 51;
	}
}

//-------------------clients----------------------------

.clients {
	width: 100%;
	opacity: 1;

	&__item {
		width: 90%;
		margin: 0 auto;
		display: flex;
		gap: rem(76);
		padding: rem(60);
		align-items: center;
		justify-content: space-around;

		@media (max-width:1024px) {
			gap: rem(56);
		}

		@media (max-width:769px) {
			flex-wrap: wrap;
		}

		@media (max-width:426px) {
			width: 100%;
			gap: rem(26);
		}
	}
}

.item {

	&__bit {}

	&__watch {}

	&__facebook {}

	&__atlassian {}

	&__audi {}
}

._icon-bitbucket,
._icon-apple-watch,
._icon-facebook,
._icon-atlassian,
._icon-audi {
	color: #D6DAE5;
	font-size: rem(32);

	@media (max-width:1024px) {
		font-size: rem(24);
	}

	@include adaptive-value("font-size", 24, 18, 2);
}

//-------------------plan----------------------------

.plan {
	background-color: #F5F8FF;
	padding: rem(170) 0;
	opacity: 1;

	@media (max-width:769px) {
		padding: rem(70) 0;
	}

	@media (max-width:320px) {
		padding: rem(20) 0;
	}

	&__content {
		display: flex;
		width: 100%;
		gap: rem(5);

		@media (max-width:769px) {
			flex-direction: column;
			gap: rem(50);
		}
	}

	&__text {
		flex: 1 1 50%;
	}

	&__img {
		position: relative;
		width: 100%;
		height: 100%;

		@media (max-width:426px) {
			display: none;
		}
	}
}

.text-plan {
	padding: 0 rem(30);
	margin-left: rem(240);

	@media (max-width:1024px) {
		margin-left: rem(50);
	}

	@media (max-width:769px) {
		width: 90%;
		margin: 0 auto;
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #3D4F9F;
		@include adaptive-value("font-size", 10, 2, 2);
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(36);
		line-height: rem(45);
		color: #3D4F9F;
		margin: rem(27) 0;
		@include adaptive-value("font-size", 36, 30, 2);
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(15);
		line-height: rem(29);
		letter-spacing: 0.03em;
		color: #8D96BD;
		@include adaptive-value("font-size", 15, 8, 2);
	}

	&__buttons {
		display: flex;

		@media (max-width:426px) {
			flex-direction: column;
		}

		& a {
			font-family: 'Quicksand';
			font-style: normal;
			font-weight: 700;
			font-size: rem(13);
			line-height: rem(16);
			align-items: center;
			color: #ADB4D2;
			padding: rem(13) rem(25);
			background-color: #F5F8FF;
			border: 1px solid #ADB4D2;
			display: inline-block;

			&:hover {
				color: #fff;
				background-color: #4C85FF;
			}

			@media (max-width:426px) {
				display: flex;
				width: 80%;
				margin: 0 auto;
				justify-content: center;
			}
		}
	}
}

.text-plan__buttons-left {
	position: relative;
}

._icon-arrow::before {
	position: absolute;
	right: rem(8);
	top: rem(17);

	@media (max-width:426px) {
		right: rem(55);
		top: rem(17);
	}
}

.plan__img-left {
	width: 150px;
	height: 260px;
	position: absolute;
	left: rem(20);
	top: rem(40);

	& img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.plan__img-center {
	position: absolute;
	left: rem(100);
	top: rem(-25);
	width: 600px;
	height: 400px;
	position: relative;
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
	border-top: 15px solid #fff;
	border-radius: 15px;


	&::after {
		content: '';
		border: 10px solid #fff;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 120%;
		margin-left: rem(-55);
		border-radius: 0px 0px 15px 15px;

	}

	& img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.plan__img-right {
	position: absolute;
	right: rem(80);
	top: rem(130);
	width: 308px;
	height: 430px;

	& img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

//-------------------read----------------------------

.read {
	width: 100%;
	padding: rem(115) rem(0);
	position: relative;
	background-color: #fff;
	opacity: 1;

	@media (max-width:769px) {
		padding: rem(50) rem(0);
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 60%;
		margin: 0 auto;
		align-items: center;

		@media (max-width:426px) {
			width: 90%;
		}
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #3D4F9F;
		margin-bottom: rem(20);
		@include adaptive-value("font-size", 10, 2, 2);
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(24);
		line-height: rem(30);
		text-align: center;
		color: #3D4F9F;
		@include adaptive-value("font-size", 24, 16, 2);
	}

	&__items {
		display: flex;
		width: 100%;
		margin: rem(92) rem(0);
		gap: rem(67);

		@media (max-width:769px) {
			margin: rem(40) rem(0);
			flex-wrap: wrap;
		}

		@media (max-width:426px) {
			gap: rem(30);
		}
	}

	&__buttons {
		display: flex;
	}

	.clouds {
		border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);

		@media (max-width:320px) {
			display: none;
		}
	}
}

.read-cloud-1 {
	width: 47px;
	height: 28px;
	left: rem(147);
	top: rem(130);
	z-index: 2;
	background: #E1EAFF;
	box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);

	@media (max-width:769px) {
		left: rem(100);
		top: rem(130);
	}

	@media (max-width:426px) {
		left: rem(20);
		top: rem(80);
	}
}

.read-cloud-2 {
	width: 21px;
	height: 15px;
	left: rem(185);
	top: rem(130);
	background: #E1EAFF;

	@media (max-width:769px) {
		left: rem(130);
		top: rem(130);
	}

	@media (max-width:426px) {
		left: rem(50);
		top: rem(80);
	}
}

.read-cloud-3 {
	width: 80px;
	height: 40px;
	right: rem(100);
	top: rem(200);
	background: #D5E0FB;
	z-index: 2;

	@media (max-width:426px) {
		right: rem(10);
		top: rem(100);
	}
}

.read-cloud-4 {
	width: 50px;
	height: 30px;
	right: rem(75);
	top: rem(220);
	background: #E1EAFF;

	@media (max-width:426px) {
		right: rem(5);
		top: rem(90);
	}
}

.read-cloud-5 {
	width: 36px;
	height: 20px;
	right: rem(150);
	top: rem(200);
	background: #EEF3FF;

	@media (max-width:426px) {
		right: rem(75);
		top: rem(110);
	}
}

.read-cloud-6 {
	width: 30px;
	height: 16px;
	right: rem(75);
	top: rem(190);
	background: #ECF1FC;

	@media (max-width:426px) {
		display: none;
	}
}

.read-cloud-7 {
	width: 80px;
	height: 50px;
	left: rem(90);
	bottom: rem(110);
	background: #E1EAFF;

	@media (max-width:426px) {
		display: none;
	}
}

.read-cloud-8 {
	width: 44px;
	height: 22px;
	left: rem(70);
	bottom: rem(125);
	background: #D5E0FB;

	@media (max-width:426px) {
		display: none;
	}
}

.read-cloud-9 {
	width: 31px;
	height: 16px;
	left: rem(145);
	bottom: rem(125);
	background: #ECF1FC;

	@media (max-width:426px) {
		display: none;
	}
}

.read-cloud-10 {
	width: 36px;
	height: 20px;
	left: rem(100);
	bottom: rem(150);
	background: #EEF3FF;
	z-index: 0;

	@media (max-width:426px) {
		display: none;
	}
}

.item-read {
	flex: 1 1 25%;
	text-align: center;
	justify-content: center;

	@media (max-width:426px) {
		flex: 1 1 50%;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}

	&__title {
		align-items: center;
		margin: rem(33) 0 rem(25) 0;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: rem(14);
		line-height: rem(25);
		text-align: center;
		color: #4074F8;
		@include adaptive-value("font-size", 14, 8, 2);

		@media (max-width:426px) {
			margin: rem(15) 0 rem(7) 0;
		}
	}

	&__text {
		align-items: center;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: rem(11);
		line-height: rem(19);
		text-align: center;
		color: #ADB3CB;
		@include adaptive-value("font-size", 11, 6, 2);
	}
}

._icon-overview,
._icon-chat,
._icon-save {
	color: #4074F8;
	font-size: rem(14);
	width: 69px;
	height: 69px;
	background: #F1F5FF;
	border-radius: 50%;
	@include adaptive-value("font-size", 14, 8, 2);
}

.buttons-read {

	a {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(13);
		line-height: rem(16);
		align-items: center;
		text-align: center;
		padding: rem(13) rem(16);
		display: inline-block;
		border: 1px solid transparent;
		@include adaptive-value("font-size", 13, 4, 2);
	}

	&__left {

		& a {
			color: #D43F3F;
			background-color: #FFD7D7;

			&:hover {
				border: 1px solid #FFD7D7;
				background-color: #fff;
			}
		}
	}

	&__or {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(13);
		line-height: rem(16);
		align-items: center;
		text-align: center;
		padding: rem(13) rem(48);
		@include adaptive-value("font-size", 13, 4, 2);

		@media (max-width:426px) {
			padding: rem(13) rem(20);
		}
	}

	&__right {

		& a {
			color: #3A79FF;
			background-color: #D2E1FF;

			&:hover {
				border: 1px solid #D2E1FF;
				background-color: #fff;
			}
		}
	}
}

//-------------------Numbers----------------------------

.numbers {
	width: 100%;
	display: flex;

	@media (max-width:426px) {
		flex-direction: column;
	}

	&__colum {
		flex: 1 1 50%;
		align-items: center;
		padding: rem(66) rem(0);

		@media (max-width:769px) {
			padding: rem(46) rem(0);
		}
	}

	&__colum-left {
		align-items: flex-end;
		padding-right: rem(90);
		background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
		color: #fff;
		text-align: right;

		@media (max-width:769px) {
			padding-right: rem(65);
		}

		@media (max-width:426px) {
			align-items: center;
			padding: rem(20);
			text-align: center;
		}
	}

	&__colum-right {
		align-items: flex-start;
		padding-left: rem(90);
		color: #5E80FF;
		background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);

		@media (max-width:769px) {
			padding-left: rem(65);
		}

		@media (max-width:426px) {
			align-items: center;
			padding: rem(20);
			text-align: center;
		}
	}
}

.colum-numbers {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: rem(24);
	font-family: 'Quicksand';

	@media (max-width:769px) {
		gap: rem(14);
	}

	&__img {}

	&__meaning,
	&__number {
		display: flex;
		font-style: normal;
		font-weight: 400;
		font-size: rem(48);
		line-height: rem(83);
		letter-spacing: 0.03em;
	}

	&__sign {}

	&__text {
		width: 40%;
		font-style: normal;
		font-weight: 500;
		font-size: rem(18);
		line-height: rem(23);
		letter-spacing: 0.03em;

		@media (max-width:1024px) {
			width: 100%;
		}

		@include adaptive-value ("font-size", 18, 10, 2)
	}
}

._icon-clock,
._icon-people {
	font-size: rem(58);
}


//-------------------Start----------------------------

.start {
	padding: rem(104) rem(143) rem(204) rem(143);
	background-color: #F5F8FF;

	@media (max-width:1024px) {
		padding: rem(54) rem(73) rem(104) rem(73);
	}

	@media (max-width:426px) {
		padding: rem(20) rem(0) rem(54) rem(0);
	}

	&__content {
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		min-width: 0;
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-align: center;
		text-transform: uppercase;
		color: #3D4F9F;

		@include adaptive-value ("font-size", 10, 2, 2)
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(24);
		line-height: rem(30);
		text-align: center;
		color: #3D4F9F;
		margin: rem(20) rem(0) rem(90) rem(0);

		@media (max-width:426px) {
			margin: rem(20) rem(0) rem(20) rem(0);
		}

		@include adaptive-value ("font-size", 24, 14, 2)
	}

	&__slider {
		min-width: 0;
	}

	.arrow {
		position: absolute;
		top: 50%;
		z-index: 2;
		width: 23px;
		height: 15px;
		color: #A8B4E5;
		font-size: 0;

		@media (max-width:426px) {
			display: none;
		}
	}

	.arrow_prev {
		left: rem(-75);
		background: url(../img/arrow-left.svg) 0 0 /100% no-repeat;

		@media (max-width:1024px) {
			left: rem(-45);
		}
	}

	.arrow_next {
		right: rem(-75);
		background: url(../img/arrow-right.svg) 0 0 /100% no-repeat;

		@media (max-width:1024px) {
			right: rem(-45);
		}
	}
}

.slider {
	min-width: 0;
	position: relative;

	& .slick-dots {
		position: absolute;
		left: 45%;
		bottom: rem(-100);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(12);

		@media (max-width:1024px) {
			bottom: rem(-50);
		}

		@media (max-width:426px) {
			bottom: rem(-20);
		}
	}

	& .slick-dots li {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #D1D6E3;
	}

	& .slick-dots li.slick-active {
		background: #5283FF;
	}

	& .slick-dots li button {
		font-size: 0;
	}

	&__item {
		display: flex !important;
		padding: rem(40) rem(35);
		background-color: #fff;
		width: rem(960);
		margin: 0 auto;
		gap: rem(67);
		min-width: 0;

		@media (max-width:1024px) {
			padding: rem(20) rem(15);
		}

		@media (max-width:769px) {
			display: inline-block !important;
		}
	}

	&__images {
		display: flex;
		flex: 1 1 auto;
		gap: rem(12);

		@media (max-width:769px) {
			justify-content: center;
		}

		@media (max-width:426px) {
			display: none;
		}
	}

	&__image-left {
		width: 268px;
		height: 268px;
		position: relative;
		background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%), url(photo-1474377207190-a7d8b3334068.jpg);
		filter: drop-shadow(0px 15px 100px #E5EBF8);
		border-radius: 5px;

		@media (max-width:1024px) {
			width: 208px;
			height: auto;
		}

		@media (max-width:769px) {
			width: 180px;
			height: 180px;
		}

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			opacity: 0.5;
		}
	}

	&__image-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width:769px) {
			flex-direction: row;
			gap: rem(15);
		}
	}

	&__image-top {
		width: 126px;
		height: 126px;
		position: relative;
		background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%), url(photo-1456615074700-1dc12aa7364d.jpg);
		filter: drop-shadow(0px 15px 100px #E5EBF8);
		border-radius: 5px;

		@media (max-width:1024px) {
			width: 106px;
			height: 106px;
		}

		@media (max-width:769px) {
			width: 180px;
			height: 180px;
		}

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			opacity: 0.5;
		}
	}

	&__image-down {
		width: 126px;
		height: 126px;
		position: relative;
		background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%), url(photo-1497348231296-713b847f4ca4.jpg);
		filter: drop-shadow(0px 15px 100px #E5EBF8);
		border-radius: 5px;

		@media (max-width:1024px) {
			width: 106px;
			height: 106px;
		}

		@media (max-width:769px) {
			width: 180px;
			height: 180px;
		}

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			opacity: 0.5;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		gap: rem(32);
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 400;
		font-size: rem(36);
		line-height: rem(45);
		color: #3D4F9F;

		@include adaptive-value ("font-size", 36, 28, 2)
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(27);
		letter-spacing: 0.03em;
		color: #8D96BD;
		margin-bottom: rem(10);

		@include adaptive-value ("font-size", 14, 6, 2)
	}

	&__buttons {
		display: flex;
		gap: rem(8);
	}

	&__button {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 700;
		font-size: rem(13);
		line-height: rem(16);
		display: flex;
		align-items: center;
		text-align: center;
		color: #A6B6DA;
		padding: rem(13) rem(16);

		@include adaptive-value ("font-size", 13, 5, 2);

		&:hover {
			background-color: #D2E1FF;
			color: #3A79FF;
			cursor: pointer;
		}
	}
}

//-------------------SLIDER

/* Обмежуюча оболонка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдів */
.slick-track {
	display: flex;
}

/* Стрілки */
.slick-arrow {
	&:hover {
		cursor: pointer;
	}
}


/* Точки (буліти) */
.slick-dots {
	&:hover {
		cursor: pointer;
	}
}

//------------------------Customer-------------

.customer {
	padding: rem(109) rem(0) rem(109) rem(275);
	background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
	z-index: 0;

	@media (max-width:1024px) {
		padding: rem(60) rem(0) rem(60) rem(50);
	}

	@media (max-width:426px) {
		padding: rem(20) rem(10) rem(20) rem(10);
	}

	&__content {
		display: flex;
		gap: rem(130);
		min-width: 0;

		@media (max-width:1024px) {
			gap: rem(80);
		}

		@media (max-width:426px) {
			flex-direction: column;
			gap: rem(20);
		}
	}

	&__left {
		flex: 0 1 30%;
		margin-top: rem(45);
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #3D4F9F;

		@include adaptive-value ("font-size", 10, 2, 2)
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(36);
		line-height: rem(45);
		color: #3D4F9F;
		margin: rem(30) rem(0) rem(14) rem(0);

		@include adaptive-value ("font-size", 36, 28, 2)
	}

	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: rem(12);
		line-height: rem(23);
		letter-spacing: 0.03em;
		color: #A4ABC8;

		@include adaptive-value ("font-size", 12, 4, 2)
	}

	&__right {
		flex: 0 0 60%;
		min-width: 0;
	}

	&__slider {}

	&__item {
		box-shadow: 0px 5px 50px #F3F5FA;
		height: rem(220);
		position: relative;
	}

	&__top {
		padding: rem(40) rem(70) rem(55) rem(70);
		border: 1px solid #D8E3FE;
		box-shadow: 0px 5px 50px #F3F5FA;
		background: #FFFFFF;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(24);
		letter-spacing: 0.03em;
		color: #676F95;
		height: rem(175);

		@media (max-width:769px) {
			padding: rem(40) rem(30) rem(20) rem(40);
		}

		@media (max-width:376px) {
			padding: rem(20) rem(50) rem(20) rem(10);
		}
	}

	&__img {
		position: absolute;
		left: 40%;
		top: 140px;
		width: 62px;
		height: 62px;
		z-index: 100;

		@media (max-width:376px) {
			left: 35%;
		}

		@media (max-width:320px) {
			left: 28%;
		}

		& img {}
	}
}

.customer__slider .slick-dots {
	left: 17%;
	bottom: rem(-50);

	@media (max-width:1024px) {
		left: 20%;
		bottom: rem(-15);
	}

	@media (max-width:769px) {
		left: 25%;
		bottom: rem(-30);
	}

	@media (max-width:426px) {
		left: 25%;
		bottom: rem(-10);
	}

	@media (max-width:320px) {
		left: 20%;
	}
}

.customer__slider .slick-track {
	gap: rem(120);

	@media (max-width:1024px) {
		gap: rem(50);
	}
}

.customer__slider .slick-slide {
	width: 425px;
	opacity: 0.5;
	transition: 0.2s ease;
}

.customer__slider .slick-active {
	opacity: 1;
}

//------------------questions-------------------------

.questions {
	background-color: #fff;
	padding: rem(175) rem(130);

	@media (max-width:1024px) {
		padding: rem(75) rem(30);
	}

	@media (max-width:768px) {
		padding: rem(25) rem(10);
	}

	& p {
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(15);
		line-height: rem(19);
		letter-spacing: 0.03em;
		color: #8E96B7;
		@include adaptive-value ("font-size", 15, 7, 2);
	}

	&__content {
		// border: 1px solid #000;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #3D4F9F;

		@include adaptive-value ("font-size", 10, 2, 2);
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(24);
		line-height: rem(30);
		// text-align: center;
		color: #3D4F9F;
		margin: rem(24) rem(0) rem(70) rem(0);

		@include adaptive-value ("font-size", 24, 16, 2);

		@media (max-width:426px) {
			margin: rem(24) rem(0) rem(30) rem(0);
		}
	}

	& li {
		display: flex;
		align-items: center;
		margin: 0 auto;
		gap: rem(60);
		margin-left: rem(50);

		@media (max-width:768px) {
			gap: rem(40);
			margin-left: rem(10);
		}

		@media (max-width:426px) {
			flex-direction: column;
			gap: rem(20);
			margin-left: rem(10);
			align-items: flex-start;
		}

		& p {
			flex: 1 1 50%;
			font-family: 'Quicksand';
		}

		& a {
			font-family: 'Quicksand';
			font-style: normal;
			font-weight: $font-weight;
			font-size: rem(13);
			line-height: rem(16);
			display: flex;
			align-items: center;
			color: #7382A3;
			justify-items: center;
			justify-content: center;
			background: #E8ECF4;
			border-radius: 2px;
			padding: rem(13) rem(15);
			cursor: pointer;
			border: 1px solid transparent;

			@include adaptive-value ("font-size", 13, 15, 2);

			@media (max-width:426px) {
				width: 60%;
			}

			&:hover {
				border: 1px solid #E8ECF4;
				background: #fff;
			}
		}
	}

	&__question {
		width: 70%;
		display: flex;
		flex-direction: column;
		gap: rem(30);

		@media (max-width:768px) {
			width: 90%;
			gap: rem(20);
		}

		@media (max-width:426px) {
			width: 100%;
			gap: rem(10);
		}

		& ul {
			width: 100%;
			display: none;
		}
	}
}

._icon-arrow_up {
	font-size: rem(30);
	position: absolute;
	left: rem(-35);
	top: rem(-5);
}

.acordeon__title {
	position: relative;

	& span {
		transform: rotate(90deg);
	}

	&:hover {
		cursor: pointer;
	}
}

.acordeon__title.active {

	& span {
		transform: rotate(-90deg);
		transition: 0.2s ease;
	}
}

.questions__acordeon {
	padding-left: rem(40);
	display: flex;
	flex-direction: column;
	gap: rem(30);
	border-bottom: #D8E3FE 1px solid;
	padding-bottom: rem(30);

	@media (max-width:426px) {
		gap: rem(20);
		padding-bottom: rem(20);
	}
}

//-------------------Get------------------------------

.get {
	background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 55%;
		margin: 0 auto;
		padding: rem(90) rem(0);

		@media (max-width:769px) {
			width: 75%;
		}

		@media (max-width:426px) {
			padding: rem(50) rem(0);
		}

		@media (max-width:321px) {
			width: 85%;
		}
	}

	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(10);
		line-height: rem(12);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: rem(16);
		z-index: 5;

		@include adaptive-value ("font-size", 10, 2, 2);
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 300;
		font-size: rem(48);
		line-height: rem(60);
		text-align: center;
		color: #FFFFFF;
		z-index: 5;

		@include adaptive-value ("font-size", 48, 40, 2);

		@media (max-width:426px) {
			font-size: rem(42);
		}
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(15);
		line-height: rem(29);
		text-align: center;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		margin: rem(28) rem(0) rem(41) rem(0);
		z-index: 5;
		@include adaptive-value ("font-size", 15, 7, 2);
	}

	&__buttons {
		display: flex;
		z-index: 5;
	}

	&__button {

		& a {
			font-family: 'Quicksand';
			font-style: normal;
			font-weight: 700;
			font-size: rem(13);
			line-height: rem(16);
			text-align: center;
			color: #565F82;
			background-color: #fff;
			padding: rem(13) rem(17);
			border: #C7D3FF 1px solid;

			&:hover {
				border: #C7D3FF 1px solid;
				color: #C7D3FF;
				background-color: #A0B4FF;
			}

			@media (max-width:321px) {
				padding: rem(13) rem(12);
			}
		}
	}
}

.get__cloud {
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
	position: absolute;

}

.get-cloud-1 {
	left: 63px;
	top: 86px;
	width: 137px;
	height: 70px;
	background: #6E8DFF;

	@media (max-width:426px) {
		left: 23px;
		top: 26px;
	}
}

.get-cloud-2 {
	width: 157px;
	height: 79px;
	left: 121px;
	top: 100px;
	background: #6C8BFF;

	@media (max-width:426px) {
		left: 66px;
		top: 32px;
	}
}

.get-cloud-3 {
	width: 115px;
	height: 60px;
	left: 54px;
	top: 161px;
	background: #567AFF;

	@media (max-width:426px) {
		left: 65px;
		top: 86px;
	}
}

.get-cloud-4 {
	width: 51px;
	height: 25px;
	left: 111px;
	top: 310px;
	background: #567AFF;

	@media (max-width:426px) {
		left: 23px;
		bottom: 106px;
	}
}

.get-cloud-5 {
	width: 139px;
	height: 70px;
	left: 162px;
	top: 300px;
	background: #567AFF;

	@media (max-width:426px) {
		left: 23px;
		top: 206px;
	}
}

.get-cloud-6 {
	width: 164px;
	height: 82px;
	right: 250px;
	top: 250px;
	background: #567AFF;
	z-index: 2;

	@media (max-width:426px) {
		right: 23px;
		top: 26px;
	}
}

.get-cloud-7 {
	width: 302px;
	height: 152px;
	right: 20px;
	top: 220px;
	background: #6C8BFF;
}

.get-cloud-8 {
	width: 137px;
	height: 70px;
	right: 160px;
	top: 180px;
	background: #6E8DFF;
}

.get-cloud-9 {
	width: 115px;
	height: 60px;
	right: 10px;
	top: 272px;
	background: #567AFF;
}

//-------------------Form------------------------------

.form {
	background-color: #FCFDFF;
	padding: rem(118) rem(276);

	@media (max-width:1024px) {
		padding: rem(118) rem(76);
	}

	@media (max-width:426px) {
		padding: rem(58) rem(36);
	}

	@media (max-width:376px) {
		padding: rem(58) rem(36);
	}

	&__content {
		width: 100%;
		margin: 0 auto;
		display: flex;
		gap: rem(80);

		@media (max-width:769px) {
			flex-direction: column;
			gap: rem(40);
		}

		@media (max-width:426px) {
			gap: rem(20);
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: rem(18);
		flex: 0 0 40%;
	}

	&__title {
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 700;
		font-size: rem(18);
		line-height: rem(22);
		color: #3D4F9F;

		@include adaptive-value("font-size", 18, 10, 2);
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(27);
		letter-spacing: 0.03em;
		color: #8D96BD;

		@include adaptive-value("font-size", 14, 6, 2);
	}

	&__right {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		gap: rem(14);

		& input {
			width: 280px;
			padding: rem(20) rem(23);
			background-color: #EFEFF7;
			border-radius: 5px;
			border: transparent 1px solid;

			@include adaptive-value("padding-top", 20, 12, 2);
			@include adaptive-value("padding-bottom", 20, 12, 2);
			@include adaptive-value("padding-left", 23, 15, 2);
			@include adaptive-value("padding-right", 23, 15, 2);

			&::placeholder {
				font-size: rem(13);
				line-height: rem(16);
				@include adaptive-value("font-size", 13, 5, 2);
			}

			&:hover {
				cursor: pointer;
			}

			&:focus {
				border: #4D6CE1 1px solid;
			}

			&:focus::placeholder {
				text-indent: 250px;
				transition: text-indent 1s ease;
			}

			@media (max-width:376px) {
				width: 100%;
			}
		}

		& a {
			background-color: #4D6CE1;
			box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
			border-radius: 5px;
			padding: rem(20) rem(60);
			// display: flex;
			align-items: center;
			font-family: 'Quicksand';
			font-style: normal;
			font-weight: 700;
			font-size: rem(13);
			line-height: rem(16);
			color: #FFFFFF;
			white-space: nowrap;
			border: transparent 1px solid;

			@include adaptive-value("font-size", 13, 5, 2);
			@include adaptive-value("padding-top", 20, 26, 2);
			@include adaptive-value("padding-bottom", 20, 26, 2);
			@include adaptive-value("padding-left", 60, 52, 2);
			@include adaptive-value("padding-right", 60, 52, 2);

			&:hover {
				cursor: pointer;
				border: #4D6CE1 1px solid;
				background-color: #fff;
				color: #4D6CE1;
			}

			@media (max-width:376px) {
				text-align: center;
			}
		}

		@media (max-width:376px) {
			flex-direction: column;
			align-items: stretch;
		}
	}
}


//-------------------Footer----------------------------

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: rem(90) rem(100);
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	gap: rem(28);
	animation: header-right 3s;

	@media (max-width:em(1025)) {
		padding: rem(50) rem(20);
	}

	@media (max-width:768px) {
		gap: rem(18);
	}

	@media (max-width:em(426)) {
		padding: rem(30) rem(0);
	}

	&__content {
		display: flex;
		width: 100%;
	}

	&__copy {
		display: flex;
		width: 100%;
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: $font-weight;
		font-size: rem(12);
		line-height: rem(15);
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #AEB8D0;
		align-items: center;
		padding-left: rem(135);
		justify-content: space-between;

		@include adaptive-value("font-size", 12, 4, 2);

		@media (min-width:2560px) {
			padding-left: rem(425);
		}

		@media (max-width:1024px) {
			padding-left: rem(95);
		}

		@media (max-width:768px) {
			padding-left: rem(75);
		}

		@media (max-width:426px) {
			justify-content: center;
			padding: 0;
		}
	}
}

@media (max-width:426px) {
	.footer-logo {
		flex: 0 0 rem(26);
		width: rem(26);
		height: rem(26);
		border-radius: 50%;
		background: #5E81FE;
		margin: 0px rem(5);
	}
}

@media (max-width:321px) {
	.footer-left {
		align-items: start;
		padding-top: rem(8);
	}
}

.footer.active {
	animation: page-active 3s;
	opacity: 0;
}


//---------------------Up Button---------------------

._icon-up {
	position: fixed;
	bottom: 20px;
	right: 40px;
	border-radius: 50%;
	color: #5E81FE;
	font-size: 36px;
	display: none;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
		transition: 0.2s ease;
	}

	@media (max-width:426px) {
		display: none;
	}
}

.active {
	display: block;
}